.wrapper {
  min-block-size: 100vh;
  background-color: aliceblue;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
  cursor: default;
}

tr:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.highlight {
  background-color: #f5f5f5;
}
.highlightRemover {
  background-color: aliceblue;
}
.bookingDiv {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerdiv {
  flex-direction: column;
  display: flex;
  padding: 2rem 1rem;
  justify-content: center;
  gap: 30px;
  align-items: center;

  background-color: inherit;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.appointed {
  background-color: limegreen;
}
.appointed:hover {
  background-color: limegreen;
}

.selectWrapper {
  position: relative;
  display: inline-block;
}

.selectWrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 8px 32px 8px 12px;
  font-size: 16px;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}

.selectWrapper::after {
  content: "\25BC";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Style for select options */
.selectWrapper select option {
  background-color: #fff;
  color: #333;
}

.opac {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);

  z-index: 4;
}
.yes_noDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  color: black;
  position: absolute;
  top: 10rem;
  left: 15rem;
  bottom: 10rem;
  right: 15rem;
  flex-direction: column;
  z-index: 5;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 830px) {
  .yes_noDiv {
    left: 10rem;
    right: 10rem;
  }
}
@media screen and (max-width: 665px) {
  .yes_noDiv {
    left: 5rem;
    right: 5rem;
  }
}
@media screen and (max-width: 505px) {
  .yes_noDiv {
    left: 2rem;
    right: 2rem;
  }
}
